<?xml version="1.0" encoding="UTF-8"?>
<!--需要留意log的level -->
<configuration status="info" monitorInterval="30">

	<!-- 日志文件目录、压缩文件目录、日志格式配置 -->

	<Appenders>
		<!-- 输出控制台日志的配置 -->
		<Console name="console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<!-- <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/> -->
			<ThresholdFilter level="ALL" />
			<!-- 输出日志的格式 -->
			 <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>

	<!-- Mixed sync/async -->
	<Loggers>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</configuration>